<default innerApp="true">
    <div class="content">
      <div class="container div-form">
        <h3 class="text-center my-5">EDITAR ITEM</h3>
        <form [formGroup]="itensForm" (submit)="registerItem()">
          <div class="form-group col-6">
                <label>Nome</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Nome Sobrenome">
                <app-message-error
                message="Nome invalido"
                *ngIf="
                    itensForm.get('name').errors?.required &&
                    itensForm.get('name').dirty">
                </app-message-error>
          </div>
          <div class="form-group col-6">
              <label for="source">Fonte</label>
              <input type="text" class="form-control" id="source" placeholder="Fonte" formControlName="source">
              <app-message-error
                  message="valor invalido"
                  *ngIf="itensForm.get('source').errors?.required && itensForm.get('source').dirty">
              </app-message-error>
          </div>
          <div class="form-group col-6">
              <label for="currentResponsible">Responsável Atual</label>
              <select class="form-control" id="currentResponsible" name="currentResponsible" formControlName="currentResponsible">
                <option value="">Responsável</option>
                <option value="">Responsável</option>
              </select>
              <app-message-error
                  message="valor invalido"
                  *ngIf="itensForm.get('currentResponsible').errors?.required && itensForm.get('currentResponsible').dirty">
              </app-message-error>
          </div>
          <!-- <div class="form-group col-6 input-image">
            <p>Foto do CRP</p>
            <label for="input-image">
              <input
                type="file"
                class="form-control"
                id="input-image"
                #inputFile
                (change)="getImage($event)"
              >
              Foto<span class="material-icons">camera_alt</span>
            </label>
          </div> -->
          <div class="col-12 form-button text-center">
            <button type="submit" class="btn btn-success" [disabled]="itensForm.invalid">Editar</button>
          </div>
        </form>
      </div>
    </div>
</default>
  