<default innerApp="true">
    <div class="content">
      <div class="container div-form">
        <h3 class="text-center my-5">EDITAR ITEM</h3>
        <form [formGroup]="itensForm" (submit)="editItem(id_item)">
          <div class="form-group col-6">
                <label>Nome</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Nome Sobrenome">
                <app-message-error
                message="Nome invalido"
                *ngIf="
                    itensForm.get('name').errors?.required &&
                    itensForm.get('name').dirty">
                </app-message-error>
          </div>
          <div class="form-group col-6">
              <label for="source">Fonte</label>
              <input type="text" class="form-control" id="source" placeholder="Fonte" formControlName="source">
              <app-message-error
                  message="valor invalido"
                  *ngIf="itensForm.get('source').errors?.required && itensForm.get('source').dirty">
              </app-message-error>
          </div>
          <div class="col-12 form-button text-center">
            <button type="submit" class="btn btn-success" [disabled]="itensForm.invalid">Editar</button>
          </div>
        </form>
      </div>
    </div>
</default>
  