<div class="default">
    <header class="sect">
        <a> MAMBEE STOCK </a>
        <button *ngIf="innerApp" class="openBtn" (click)="showMenu()">
            <span class="material-icons">menu</span>
        </button>
        <nav id="sidenav">
            <ul>
                <li>
                    <button class="closeBtn" (click)="hideMenu()">
                        <span class="material-icons">menu</span>
                    </button>
                </li>
                <li>
                    <a (click)="router.navigate(['/'])">bla bla</a>
                </li>
                <li>
                    <a (click)="router.navigate(['/'])">bla bla</a>
                </li>
                <li>
                    <a (click)="logout()">Sair</a>
                </li>
            </ul> 
        </nav>
    </header>
    
    <main class="sect">
        <ng-content></ng-content>
    </main>

    <footer class="sect">
        <p>© 2020 mambee-stock.com. Todos os direitos reservados.</p>
    </footer>
</div>